.contenedor {
    display: flex;
    justify-content: space-evenly;
}

.caja {
    width: 15%;
    height: 100px;
    background-color: transparent;
    border: 0.1rem solid #000;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;
}